.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
  height: 100%;
  @include iphone{
    flex-direction: column;
  }
  &__ad {
    width: 100%;
    margin-bottom: 10px;
  }
  &__title {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }
}
