.checkoutProduct {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  @include iphone {
    flex-direction: column;
  }
  &__title {
    font-size: 17px;
    font-weight: 800;
  }
  &__image {
    object-fit: contain;
    width: 100%;
    height: 180px;
  }
  &__info {
    padding-left: 20px;
  }
  &__rating {
    display: flex;
  }
}
