.order {
  padding: 40px;
  margin: 24px 0;
  border: 1px solid lightgray;
  background-color: #fff;
  position: relative;

  &__id {
    position: absolute;
    top: 50px;
    right: 20px;
  }

  &__total {
    font-weight: 500;
    text-align: right;
  }
}
