.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  margin: 10px;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
  cursor: pointer;
  & > img {
    object-fit: contain;
    max-height: 200px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  &__info{
      width: 100%;
      height: 100px;
      margin-bottom: 15px;
      z-index: 1;
  }
  &__price{
      margin-top: 5px;
  }
  &__rating{
      display: flex;
  } 
}

