.header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131921;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  cursor: pointer;
}

.header__logo {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.header__searchIcon {
  height: 22px !important;
  background-color: #cd9042;
  padding: 5px;
  cursor: pointer;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__basketCount {
  margin-right: 10px;
  margin-left: 10px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.home__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .home__row {
    display: unset;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  margin: 10px;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
  cursor: pointer;
}

.product > img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 200px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.product__info {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  z-index: 1;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  border-radius: 2px;
  width: 100%;
  height: 30px;
}

.login {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.login__container {
  padding: 20px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 100%;
}

.login__container > form > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__container > form > button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.login__logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-color: darkgray;
  margin-top: 10px;
}

.payment {
  background-color: #fff;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: #eaeded;
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 > a {
  text-decoration: none;
  color: #000;
}

.payment__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

.payment__address, .payment__items, .payment__details {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.payment__details form {
  max-width: 400px;
}

.payment__details h3 {
  padding-bottom: 20px;
}

.payment__details button {
  width: 100%;
  height: 30px;
  font-weight: bolder;
}

.orders {
  padding: 20px 80px;
}

.orders > h1 {
  margin: 30px 0;
}

.order {
  padding: 40px;
  margin: 24px 0;
  border: 1px solid lightgray;
  background-color: #fff;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}
/*# sourceMappingURL=all.css.map */